<!DOCTYPE html>
<html land="en">
<head>
</head>
<body>
    <main> 
        <div>
            <h1>{{ todolist.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
            
            <tbody>
                {% for item in todolists.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{item.task}}</a>   
                    </td>
                    {% comment %} <td>{{ item.due_date|date: "M d, Y"}}</td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>
</body>