<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo List</title>
</head>
<body>
    <main>
        <div> 
            <h1>My Lists</h1>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody> 
                {% for list in todolist_list%}
                <tr> 
                    <td>
                        {% comment %} <a href="{% url 'todo_list_detail' list.id %}"> {% endcomment %}
                        {{ list.name }}
                        </a>
                    </td>
                    {% comment %} <td>{{ list.items.all|length }}</td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

    
    </main>
</body>
</html>